################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/SpiderTracker/bin/Debug
/SpiderTracker/cache
/SpiderTracker/obj/Debug
/SpiderTracker/bin/Release
/SpiderTracker/obj/Release
