################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/SpiderTracker/bin/Debug
/SpiderTracker/cache
/SpiderTracker/obj/Debug
/SpiderTracker/bin/Release
/SpiderTracker/obj/Release
/SpiderTracker/obj
/SpiderTracker/obj/x64/Debug
/SpiderWeb/bin
/SpiderWeb/obj
/SpiderCore/bin
/SpiderCore/obj
/SpiderBilibiliTracker/bin/Debug
/SpiderBilibiliTracker/bin/Release/Firefox/AccessibleMarshal.dll
/SpiderBilibiliTracker/bin/Release
/SpiderBilibiliTracker/cache/cosplay/StoreImage/18841842/video
/SpiderBilibiliTracker/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/SpiderBilibiliTracker/obj
/SpiderSinaTracker/cache
/SpiderSinaTracker/obj
/SpiderSinaTracker/bin
/SpiderBilibiliTracker/cache/cosplay/StoreImage
/SpiderDomain/bin
/SpiderDomain/obj
/SpiderService/bin
/SpiderService/obj
/SpiderCoreV2/bin/Debug/netstandard2.0
/SpiderCoreV2/obj
/SpiderCoreV2/bin/Release/netstandard2.0
/SpiderSinaTrackerV2/bin/Debug/netcoreapp3.1
/SpiderSinaTrackerV2/obj
/SpiderServiceApp/bin/Debug/netcoreapp3.1
/SpiderServiceApp/obj
